<div id="post_content">
	<h1><%= @post.title %></h1>
	<p><%= @post.content %></p>

	<div id="comments">
		<h2><%= @post.comments.count %></h2>
		<%= render(@post.comments) %>

		<h3>Reply to this post</h3>
		<%= render("comments/form") %>
	</div>

	<%= link_to("Edit", edit_post_path(@post)) %>
	<%= link_to("Delete", post_path(@post), :method => :delete, :data => { :confirm => "Are you sure you want to delete this Post?" }) %>
	<%= link_to("Home", root_path) %>	
</div>
